


<h1 class="mat-display-2 section-title center">Chronic Diseases</h1>


<!-- Add a Material card to wrap the list -->
<mat-card class="disease-list-card">
  <mat-card-content>
    <ul class="disease-list">
      <li *ngFor="let disease of diseases">
        {{ disease.diseaseName }}
        <button mat-icon-button color="warn" (click)="deleteDisease(disease.diseaseId)"  class="delete-button">
          <mat-icon>delete</mat-icon>
        </button>
        <button mat-raised-button color="primary" [routerLink]="['/meals/add', disease.diseaseId]">
          Add Meal
        </button>
      </li>
    </ul>
  </mat-card-content>
</mat-card>


<!-- <mat-tab-group>
  <mat-tab label="Search Diseases">
    <ng-template matTabContent>
      <ul>
        <li *ngFor="let disease of diseases">
          {{ disease.diseaseName }}
          <button (click)="deleteDisease(disease.diseaseId)">Delete</button>
          <button [routerLink]="['/meals/add', disease.diseaseId]">Add Meal</button>
        </li>
      </ul>
    </ng-template>
  </mat-tab>
  <mat-tab label="Add Disease">
    <ng-template matTabContent> -->
      <!-- Add the form to add a new disease here -->
    <!-- </ng-template>
  </mat-tab>
</mat-tab-group> -->


