

<app-nav-bar></app-nav-bar>
  <header class="header">
    <div class="logo-container">
        <img src="../../../assets/image/diet-health-advisor-logo.png" alt="Diet Health Advisor Logo" class="logo-image">
      <h1 class="title">Diet Health Advisor</h1>
    </div>

  </header>
  
  <div class="container mat-elevation-z2">
    <h2 class="mat-display-2 section-title">Who We Are</h2>
    <p class="mat-body-1 description">Welcome to Diet Health Advisor, your trusted partner in maintaining a healthy lifestyle. Our application is meticulously designed to provide you with evidence-based advice and personalized recommendations to help you achieve optimal health and well-being.</p>
    <p class="mat-body-1 description">We recognize the vital role that nutrition plays in preventing chronic diseases and enhancing overall quality of life. With our team of dedicated nutrition experts, we offer tailored diet prescriptions that align with your unique needs and health conditions.</p>
    <p class="mat-body-1 description">At Diet Health Advisor, we provide a comprehensive range of resources and tools to support your journey towards a healthier lifestyle. From a wide selection of nutritious meal options to intuitive progress tracking features, we empower you to make informed choices and stay motivated.</p>
    <h2 class="mat-display-2 section-title">Advisor For Who</h2>
    <p class="mat-body-1 description">Our services are accessible to individuals of all ages and backgrounds. Whether you're seeking to manage a specific health condition, achieve weight loss goals, or simply improve your overall well-being, our team is here to provide the guidance and support you need.</p>
  </div>


  